<ngx-datatable
  #table
  class="material striped margin-top-xs table-size expandable"
  [rows]="observations"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [limit]="observations.length"
  [count]="observations.length"
  [selected]="selectedRows"
  [selectionType]="'single'"
  [rowClass]="getRowClass"
  [reorderable]="true"
  sortType="multi"
  (activate)="onRowActivate($event)"
>
  <ngx-datatable-column [maxWidth]="40" [sortable]="false">
    <ng-template ngx-datatable-header-template>
      <input type="checkbox" [checked]="isAllSelected()" (change)="toggleAll()" />
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <input
        type="checkbox"
        [checked]="isSelected(row['id_synthese'])"
        (change)="toggleSelection(row['id_synthese'])"
      />
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [maxWidth]="40" [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <a class="link-dark" (click)="onInfoObs(row['id_synthese'])">
        <i matTooltip="Détails de l'observation" class="fa fa-info-circle"></i>
      </a>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [maxWidth]="140" prop="date_min" name="Date" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ padDate(row['date_min']) }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column prop="nom_vern_or_lb_nom" name="Taxon" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <span [title]="row['nom_vern_or_lb_nom']">{{ row['nom_vern_or_lb_nom'] }}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column prop="observers" name="Observateurs" [sortable]="true">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <span [title]="row['observers']">{{ row['observers'] }}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Foyer" [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <a class="link-dark" (click)="onAssociate(row['id_synthese'])">
        <i
          matTooltip="Associer à un foyer"
          [class.fa-plus-circle]="!row['cluster_id']"
          [class.fa-pencil]="row['cluster_id']"
          class="fa"
        ></i>
      </a>
      &nbsp;{{ getClusterName(row['cluster_id']) }}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

<div *ngIf="selectedIds.size > 0" class="actions-btns">
  <button mat-raised-button color="primary" class="btn-action uppercase" (click)="onBulkAssociate()">
    Associer à un foyer ({{ selectedIds.size }})
    <mat-icon>group_add</mat-icon>
  </button>
</div>
