  <div class="row">
    <div class="col-8">
      <small>Nom du foyer *</small>
      <input
        type="text"
        class="form-control form-control-sm"
        [formControl]="propertiesForm.get('name')"
        placeholder="Nom du foyer"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <small>Notes</small>
      <textarea
        class="form-control form-control-sm"
        [formControl]="propertiesForm.get('notes')"
        placeholder="Notes"
      ></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <pnx-taxonomy
        label="Taxon"
        [parentFormControl]="propertiesForm.get('cd_nom')"
        [charNumber]="3"
        [listLength]="20"
      ></pnx-taxonomy>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <pnx-nomenclature
        label="Statut du foyer"
        [parentFormControl]="propertiesForm.get('status_id')"
        codeNomenclatureType="CLUSTER_STATUS"
      ></pnx-nomenclature>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <pnx-nomenclature
        label="État annuel"
        [parentFormControl]="propertiesForm.get('yearly_state_id')"
        codeNomenclatureType="CLUSTER_YEARLY_STATE"
      ></pnx-nomenclature>
    </div>
  </div>

<div class="text-center" style="margin-top: 10px">
  <button
    mat-raised-button
    color="warn"
    class="uppercase mr-1"
    [routerLink]="['/' + moduleService.currentModule.module_path]"
  >
    Annuler
  </button>
  <button
    mat-raised-button
    class="button-success uppercase"
    [disabled]="clusterForm.invalid || clustersFormDetailService.waiting"
    (click)="submitClusterForm()"
  >
    Enregistrer
  </button>
</div>
