<ngx-datatable
  #table
  class="material striped margin-top-xs table-size"
  [rows]="clusters"
  [columnMode]="'force'"
  [headerHeight]="50"
  [rowClass]="getRowClass"
  [selected]="selectedRows"
  [selectionType]="'single'"
  [reorderable]="true"
  (activate)="onRowClick($event)"
>
  <ngx-datatable-column
    [width]="100"
    [maxWidth]="100"
    [flexGrow]="0"
    [sortable]="false"
    name=""
  >
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      <a
        class="link-dark mr-1"
        (click)="onInfo(row); $event.stopPropagation()"
        matTooltip="Informations du foyer"
      >
        <i
          class="fa fa-info-circle"
          aria-hidden="true"
        ></i>
      </a>
      <a
        class="link-dark"
        (click)="row.cruved?.U && onEdit(row); $event.stopPropagation()"
        matTooltip="{{ row.cruved?.U ? 'Modifier le foyer' : 'Modification non autorisée' }}"
        [class.text-muted]="!row.cruved?.U"
      >
        <i
          class="fa fa-pencil"
          aria-hidden="true"
        ></i>
      </a>
      <a
        class="link-dark ml-1"
        (click)="row.cruved?.D && !row.observations_count && onDelete(row); $event.stopPropagation()"
        matTooltip="{{ !row.cruved?.D ? 'Suppression non autorisée' : row.observations_count ? 'Ce foyer contient des observations' : 'Supprimer le foyer' }}"
        [class.text-muted]="!row.cruved?.D || row.observations_count"
      >
        <i
          class="fa fa-trash"
          aria-hidden="true"
        ></i>
      </a>
      <a
        class="link-dark ml-1"
        (click)="exportPdf(row); $event.stopPropagation()"
        matTooltip="Exporter en PDF"
        [class.text-muted]="row._exporting"
      >
        <i
          class="fa fa-file-pdf-o"
          aria-hidden="true"
        ></i>
      </a>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Nom"
    prop="name"
    [sortable]="true"
  >
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      {{ row.name }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Taxon"
    [sortable]="true"
  >
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      <a
        class="link-primary"
        (click)="onTaxonClick(row); $event.stopPropagation()"
        matTooltip="Filtrer avec ce taxon"
      >
        {{ getTaxonName(row) }}
      </a>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Observations"
    prop="observations_count"
    [sortable]="true"
  >
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      <i
        class="fa"
        [class.fa-eye]="isClusterInFilter(row.id)"
        [class.fa-eye-slash]="!isClusterInFilter(row.id)"
        (click)="toggleClusterFilter(row.id); $event.stopPropagation()"
        style="cursor: pointer; margin-right: 4px;"
        matTooltip="Afficher/masquer les observations de ce foyer"
      ></i>
      {{ row.observations_count }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Gestionnaire"
    prop="manager.nom_complet"
    [sortable]="true"
  >
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      {{ row.manager?.nom_complet || (row.manager?.prenom_role + ' ' + row.manager?.nom_role) || '-' }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Date de création"
    prop="created_on"
    [sortable]="true"
  >
    <ng-template
      let-row="row"
      ngx-datatable-cell-template
    >
      {{ getDate(row.created_on) }}
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
