<pnx-map height="100%" class="map-card" [geolocation]="true">
  <pnx-marker
    [coordinates]="ms.markerCoordinates"
    [zoomLevel]="-1"
  ></pnx-marker>

  <pnx-leaflet-draw
    [geojson]="ms.leafletDrawGeoJson"
    [options]="leafletDrawOptions"
    [zoomLevel]="-1"
  ></pnx-leaflet-draw>

  <pnx-gps *ngIf="config.CLUSTERS?.ENABLE_GPS_TOOL"></pnx-gps>

  <pnx-places *ngIf="config.CLUSTERS?.ENABLE_MY_PLACES"></pnx-places>

  <pnx-placesList *ngIf="config.CLUSTERS?.ENABLE_MY_PLACES"></pnx-placesList>
</pnx-map>
